@inject SignInManager<CustomUser> SignInManager;
@inject UserManager<CustomUser> UserManager

@using TwitterMvc.Dtos;
@using TwitterMvc.Models;
@using Microsoft.AspNetCore.Identity;

@model TwitterMvc.Dtos.ProfileDto
@{
    var img = $"/img/{Model.Gender}.png";

    var postDto = new PostDto();
}


<div class="row mt-4">
    <div class="col-md-3 information">
        <div class="profile-avatar">
            <img src="@img" />
            <div class="profile-avatar-info">
                <p class="profile-avatar-info-username">@Model.Username</p>
            </div>
        </div>
        <div class="row follow-button">
            <div class="col-md-9 follow-text">
                Follow
            </div>
            <div class="col-md-3 follow-number">
                15
            </div>
        </div>
        <a href="" class="btn btn-info profile-buttons">Send Question</a>
        <div class="row social">
            <div class="col-md-3 social-png">
                <img src="/img/fb.png" />
            </div>
            <div class="col-md-3 social-png">
                <img src="/img/ig.png" />
            </div>
            <div class="col-md-3 social-png">
                <img src="/img/gh.png" />
            </div>
            <div class="col-md-3 social-png">
                <img src="/img/yt.png" />
            </div>
        </div>
        <h4 class="">Information</h4>
        <div class="profile-info-field">Email: @Model.Email</div>
        <div class="profile-info-field">Name: @Model.Name @Model.Lastname</div>
        <div class="profile-info-field">Age: @Model.Age</div>
        <div class="profile-info-field">Gender: @Model.Gender</div>
        <div class="profile-info-field">Country: @Model.Country</div>
    </div>
    <div class="col-md-9 posts">
        @if (SignInManager.IsSignedIn(User) && ViewData["userId"] == null || ViewData["userId"].ToString() == UserManager.GetUserId(User))
        {
            <form asp-action="Post" method="post" class="mb-5">
                <div class="form-group">
                    <input asp-for="@postDto.Title" type="text" class="form-control" placeholder="Title">
                </div>
                <div class="form-group">
                    <textarea asp-for="@postDto.Content" class="form-control" rows="3" placeholder="Content of your post..."></textarea>
                </div>
                <button type="submit" class="btn btn-success">Post</button>
            </form>
        }

        @foreach(var post in (List<PostDto>)ViewData["posts"])
        {
            <div class="post">
                <div class="post-title">
                    @post.Title
                </div>
                <div class="post-text">
                    @post.Content
                </div>
                <div class="post-date">
                    @post.DateTime
                </div>
            </div>
        }
    </div>
</div>